body {
    background-color: rgb(255, 205, 255);
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
}

.accordian {
    background-color: white;
    padding: 4px 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgb(255, 205, 255);
    cursor: pointer;
}

.Topic {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    margin-right: 16px;
    transition: transform 0.2s;
}

.icon.active {
    transform: rotate(-180deg);
}

.Description {
    color: #666;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.logo {
    cursor: pointer;
    margin-right: auto;
    width: 190px;
    height: 58px;
}

button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: black;
    padding: 9px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color:gray;
}